* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    /* Setting all the margins and paddings of elements to 0 in order to better visually adjust spacing */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f2833;
}

header {
    background-color: inherit;
    height: 90px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    /*Displaying items in the vertical center of the header by making the header container a flex container*/
}

header h1 {
    margin-left: 60px;
    font-size: 25px;
    color: #66fcf1;
}

header ul {
    margin-left: auto;
    margin-right: 100px;
    color: #66fcf1;
    
    /* Utilizing margin-left auto to create the gap between the h1 element and my list element, 
    and using margin right to give space bewtween end of list and end of container */


}

header ul li {
    display: inline-flex; 
    justify-content: space-between;
    margin-left: 20px;
    
    

    /* This is how I got the list to be horizontal instead of vertical. */
}

header ul li a {
    text-decoration: none;
    color: #66fcf1;;
}

header ul li a:hover {
    text-decoration: underline;
    color: white;
}

#description {
    background-color: inherit; 
    background-size: auto;
    background-repeat: no-repeat;
    /* This is how I input a background image to this section */
    height: 35vh;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%; /* this got the h1 with more text closer to the top h1 element */
    
    
}

#description h1{
color: #c5c6c7;
text-align: center;
margin: auto;



}

.sec_box {
    width: auto;
    height: inherit;
}
/* styling for all of the child containers in section containers */

.projects_container {
    display: flex;
    justify-content: flex-start;
    background-color: #66fcf1;
    height: 60vh;
    width: 100%;
  
}
/* styling my first project section and making it a flex container */

#left_1 {
    
    width: 50%;
    margin: auto;
    position: relative;
    
}
/*Styling the left child container and giving it position relative so I can move the content inside it around. */

#right_1 {
   
    margin: auto;
    width: 50%;
}
/* styling right child container *more work needs to be done */

img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    
}

.hello {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.hello h1 {
font-size: 50px;
color: #45A29E;

}

hr {
    color: #45A29E;
    width: 50%;
    margin: 5px auto 50px auto;
    /* This centers the line after shortening it from both sides */
}

.hobbies {
    text-decoration: none;
    color: #66fcf1;
}

.hobbies:hover {
    text-decoration: underline;
}

.flex_container {
    display: flex;
    justify-content: center;
}

#project_heading {
    color: #45A29E;
    font-size: 60px;
}

#project_hr {
    color: #45A29E;
    width: 25%;
    margin: 5px auto 20px auto;

}

#survey_form_heading {
    color: #45A29E;
    margin: 50px auto;
    font-size: 50px;
}



.images {
    border-radius: 10px;
}