* {
    margin: 0;
    padding: 0; 
    /* Setting all the margins and paddings of elemnts to 0 in order to better visually adjust spacing */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: beige;
    height: 90px;
    display: flex;
    align-items: center;
    /*Displaying items in the vertical center of the header by making the header container a flex container*/
}

header h1 {
    margin-left: 60px;
    font-size: 25px;

}

header ul {
    margin-left: auto;
    margin-right: 100px;
    /* Utilizing margin-left auto to create the gap between the h1 element and my list element, 
    and using margin right to give space bewtween end of list and end of container */


}

header ul li {
    display: inline; 
    /* This is how I got the list to be horizontal instead of vertical. */
}