body {
	background-color:  #91e4fb;

}

.flex-container{
	display: flex;
	justify-content: center;
}


#description {
	text-align: center;
}

#title {
	width: 75%;
	display: flex;
	justify-content: center;
	border: 3px solid black;
	border-radius: 136px;
	background-color: #b7e7fc;
	box-shadow: 10px 10px 5px 0px;
	font: 72px "system-ui";
}


#form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
	width: auto;
	background-color: #b7e7fc;
	box-shadow: 10px 10px 5px 0px;
	padding: 50px;
	margin:  50px;
	border-radius: 10px;
	}

#survey-form {
	width: 75%;
	display: flex;
	justify-content: space-around;
	border: 3px solid black;
	padding: 1em;
	border-radius: 10px;
	background-color: #9ce3f8;
}

#number {
	width: 5em;
}


input {
margin-bottom: 1em;
}

select {
margin-bottom: 1em;
}

#section_3 {
	display: flex;
	align-items: center;
	justify-content: center;
}

#submit {
	padding:  2em;
	border-radius: 10px;
}